{% extends 'posts.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'posts' %}">Назад к постам</a></li>
  </ol>
</nav>
    <hr>
    <h4 class="text-center">{{ post.title }}</h4>
    <small>опубликовано: {{ post.created_at|date:"Y-m-d" }}</small>
    <br><br>
    <p>{{ post.content|safe }}</p>
    <hr>
    <p><strong>Комментарии</strong>: <span id="comments-count" class="badge rounded-pill bg-dark">{{ post.comments.count }}</span></p>
    <br>
    <div class="row" id="comments-list">
        {% for comment in post.comments.all %}
            <div class="col-md-12 mt-2 mb-2">
                <p><strong>{{ comment.author.username }}</strong> | <small>опубликовано:{{ comment.created_at|date:"Y-m-d" }}</small></p>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}
    </div>
    <div id="spinner" class="spinner-grow spinner-grow-sm" role="status" style="display: none;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <hr>
    {% if request.user.is_authenticated %}
    <form action="{% url 'comments:comment-create' content_type="post" object_id=post.id %}" method="POST" class="mb-5">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
    <input id="send-comment" class="btn btn-primary" type="submit" value="Отправить">
    </form>
    {% else %}
        <p class="text-center">Оставлять комментарии могут только авторизованные пользователи</p>
    {% endif %}
{% endblock content %}

{% block js %}
<script>
    function commentsService() {
        const commentsSocket = new WebSocket(
        'ws://' + window.location.host + '/posts/' + '{{ post.id }}/'
        )

        commentsSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);

            const commentsList = document.getElementById('comments-list');
            const commentsCount = document.getElementById('comments-count');

            commentsCount.textContent = data["message"]["comments_count"]

            commentsList.insertAdjacentHTML(
            'beforeend',
            '<div class="col-md-12 mt-3 mb-3">\n' +
            '<p><strong>' + data["message"]["author"] + '</strong> | <small>опубликовано:' + data["message"]["created_at"] + '</small></p>\n' +
            '<p>' + data["message"]["text"] + '</p>\n' +
            '</div>'
            )
            spinner.style.display = 'none'
        };
            
        document.querySelector('#send-comment').onclick = function (e) {
            e.preventDefault()
            const message = document.querySelector("#id_text");
            const text = message.value;

            commentsSocket.send(JSON.stringify({
                'text': text
            }))
            message.value = ''
        }
    }

    function typingService() {
        const typingSocket = new WebSocket(
        'ws://' + window.location.host + '/posts/' + '{{ post.id }}/typing-signal/'
        )
        const currentUser = '{{ request.user }}'
        let isTyping = false;

        setInterval(function(){
            if (!isTyping) {
                spinner.style.display = 'none'
            }

            isTyping = false
        }, 2000);

        typingSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            let sender = data["message"]["sender"]
            isTyping = true

            if (sender != currentUser) {
                spinner.style.display = 'block'
            }
        };

        const textArea = document.getElementById("id_text")
        let timer = null;
        textArea.addEventListener("input", restartTimer);

        function sendInfo() {
            typingSocket.send(JSON.stringify({
                'sender': currentUser
            }))
        };
        
        function restartTimer() {
            clearTimeout(timer);
            timer = setTimeout(sendInfo, 300);
        };
    }

    const spinner = document.getElementById('spinner')
    commentsService();
    typingService();

</script>
{% endblock js %}
